@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}

/* utilities */

a {
  color: #7e868e;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #757c82;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin-inline: auto;
}

.clouds {
  position: relative;
  z-index: 101;
}

.clouds-top {
  padding: 0;
  margin: 0;
}

.clouds-bottom {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

/* header */

.header {
  width: 100%;
  position: fixed;
  padding-top: 37px;
  z-index: 1000;
}

.header-info {
  display: flex;
  gap: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* hero-section */

.hero-section {
  position: relative;
  background-image: url("public/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-leaf {
  position: absolute;
  bottom: 500px;
  left: 600px;
  width: 250px;
  height: 250px;
  animation: rotate 5s ease-in-out alternate infinite;
}

.hero-berry {
  position: absolute;
  top: 200px;
  right: 600px;
  width: 250px;
  height: 250px;
  animation: berry-moving 10s ease-in-out alternate infinite;
}

@keyframes rotate {
  from {
    translate: -91%;
    rotate: -400deg;
  }
  to {
    translate: -19%;
    rotate: 100deg;
  }
}

@keyframes berry-moving {
  from {
    translate: -91%;
    rotate: -500deg;
  }
  to {
    translate: 19%;
    rotate: 50deg;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  padding-bottom: 500px;
  color: white;
}

.hero-info {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  color: white;
  top: 30%;
  width: 35%;
  font-size: 24px;
}

.hero-info-sign {
  display: flex;
  padding: 10px, 18px, 10px, 18px;
  width: 132px;
  height: 37px;
  border-radius: 5px;
  background-color: #f2f6fa;
  color: #2e363e;
  letter-spacing: 1.4px;
}

.hero-info-sign-p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info-btn {
  display: flex;
  font-size: 11px;
  background-color: #fed84c;
  width: 277px;
  height: 70px;
  border-radius: 8px;
  padding: 30px, 50px, 30px, 50px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.hero-info-txt {
  font-size: 15px;
}

.hero-info-btn-txt {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero-info-sign-p {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* products */

.products {
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-title {
  font-size: 48px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.item-title {
  font-size: 24px;
  font-weight: bold;
}

.item-description {
  font-size: 16px;
}

.item-price {
  font-size: 24px;
}

.item-btn {
  width: 163px;
  height: 68px;
  border-radius: 8px;
  gap: 10px;
  padding: 20px 40px 20px 40px;
  border: none;
  background-color: #fed84c;
}

/* downloading */

.downloading {
  background-color: #081130;
  z-index: 90;
  margin: 0;
  background-image: url("public/images/phone\ 1.png");
  background-position: left bottom;
  background-size: 1150px 1150px;
  background-repeat: no-repeat;
}

.downloading-background-top {
  margin: 0;
  /* padding: 60px 0 60px 0; */
  background-image: url("public/images/01\ 1.png");
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.downloading-background-bottom {
  margin: 0;
  /* padding: 60px 0 60px 0; */
  background-image: url("public/images/02\ 1.png");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.downloading-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  width: 100%;
  padding-top: 500px;
  padding-bottom: 200px;
}

.downloading-info {
  display: flex;
  flex-direction: column;
  color: white;
  top: 30%;
  width: 35%;
  font-size: 24px;
  padding-bottom: 400px;
}

.downloading-info-btn {
  display: flex;
  font-size: 11px;
  background-color: #fed84c;
  width: 277px;
  height: 70px;
  border-radius: 8px;
  padding: 30px, 50px, 30px, 50px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.downloading-info-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  width: 226px;
  height: 19px;
  border-radius: 5px;
  background-color: #f2f6fa;
  color: #2e363e;
  letter-spacing: 1.4px;
  font-size: 11px;
}

.downloading-info-h3 {
  font-size: 48px;
}

.downloading-info-delivery {
  font-size: 21px;
}

/* questions */

.questions {
  display: flex;
  background-color: white;
  width: 100%;
  height: auto;
  color: #2e363e;
}

.questions-container {
  display: flex;
  background-image: url("public/images/Group\ 2.png");
  background-position: right 40%;
  background-size: 50% auto;
  background-repeat: no-repeat;
}

.questions-info {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  top: 30%;
  width: 35%;
  font-size: 24px;
  padding-bottom: 200px;
}

.questions-info-sign {
  display: flex;
  padding: 10px, 18px, 10px, 18px;
  width: 191px;
  height: 37px;
  border-radius: 5px;
  background-color: #f2f6fa;
  color: #2e363e;
  letter-spacing: 1.4px;
  font-size: 11px;
  justify-content: center;
}

.questions-info-sign-p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions-info-h3 {
  font-size: 48px;
}

.questions-info-ul {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 30px;
}

.questions-info-li {
  font-size: 18px;
  gap: 30px;
}

.questions-info-li::marker {
  color: #5d6afb;
}

.questions-info-btn {
  display: flex;
  font-size: 11px;
  background-color: #fed84c;
  width: 277px;
  height: 70px;
  border-radius: 8px;
  padding: 30px, 50px, 30px, 50px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: none;
}

.questions-baker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.baker-name {
  color: white;
  background-color: #2e363e;
  padding: 10px;
}

.baker-txt {
  padding: 10px;
  background-color: #f2f6fa;
}

/* slider */

.slider {
  background-color: #081130;
  width: 100%;
  height: auto;
}

.slider-background-top {
  margin: 0;
  background-image: url("public/images/03\ 1.png");
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.slider-background-bottom {
  margin: 0;
  background-image: url("public/images/04\ 1.png");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.slider-form {
  height: 400px;
}

/* photos */

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos-title {
  font-size: 48px;
}

.photos-subtitle {
  font-size: 24px;
}

.photos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9px;
}

/* cta */

.cta {
  display: flex;
  height: auto;
  max-width: 100%;
  background-color: #081130;
  padding: 200px 99px 200px 99px;
}

.cta-leaf-top {
  position: absolute;
  bottom: 500px;
  left: 600px;
  width: 250px;
  height: 250px;
  animation: cta-left-leaf 20s ease-in-out alternate infinite;
}

.cta-berry-top {
  position: absolute;
  bottom: 500px;
  left: 600px;
  width: 250px;
  height: 250px;
  animation: cta-left-berry 2s ease-in-out alternate infinite;
}

@keyframes cta-left-leaf {
  from {
    translate: -150%;
    rotate: -400deg;
  }
  to {
    translate: 400%;
    rotate: 100deg;
  }
}

@keyframes cta-left-berry {
  from {
    translate: 0%, 200%;
    rotate: -500deg;
  }
  to {
    translate: 0%, 10%;
    rotate: 50deg;
  }
}

.cta-leaf-bottom {
  position: absolute;
  bottom: 100px;
  right: 200px;
  width: 250px;
  height: 250px;
  animation: cta-right-leaf 17s ease-in-out alternate infinite;
}

.cta-berry-bottom {
  position: absolute;
  bottom: 300px;
  right: 600px;
  width: 250px;
  height: 250px;
  animation: cta-right-berry 10s ease-in-out alternate infinite;
}

@keyframes cta-right-leaf {
  from {
    translate: 80%;
    rotate: 400deg;
  }
  to {
    translate: -500%;
    rotate: -200deg;
  }
}

@keyframes cta-right-berry {
  from {
    transform: translateY(-100%);
    rotate: -500deg;
  }
  to {
    transform: translateY(-150%);
    rotate: 50deg;
  }
}

.cta-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  gap: 20px;
  padding: 70px 99px 70px 99px;
}

.cta-h3 {
  font-size: 36px;
}

.cta-p {
  font-size: 21px;
}

.cta-btn {
  height: 100%;
  width: 380px;
  background-color: #fed84c;
}

.cta-label {
  width: 380px;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 780px;
  height: 86px;
  gap: 20px;
}

.checkbox {
  display: flex;
}

/* footer */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #7e868e;
}

.footer-info-top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e868e;
  gap: 43px;
}

.footer-info-bottom {
  display: flex;
  color: #7e868e;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
