body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* utilities */

a {
  color: #7e868e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #757c82;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin-inline: auto;
}

.clouds {
  position: relative;
  z-index: 101;
}

/* header */

.header {
  width: 100%;
  position: fixed;
  padding-top: 37px;
  z-index: 1;
}

.header-info {
  display: flex;
  gap: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* hero-section */

.hero-section {
  background-image: url("public/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  padding-bottom: 500px;
  color: white;
}

.hero-info {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  color: white;
  top: 30%;
  width: 35%;
  font-size: 24px;
}

.hero-info-sign {
  display: flex;
  padding: 10px, 18px, 10px, 18px;
  width: 132px;
  height: 37px;
  border-radius: 5px;
  background-color: #f2f6fa;
  color: #2e363e;
  letter-spacing: 1.4px;
}

.hero-info-sign-p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info-btn {
  display: flex;
  font-size: 11px;
  background-color: #fed84c;
  width: 277px;
  height: 70px;
  border-radius: 8px;
  padding: 30px, 50px, 30px, 50px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.hero-info-txt {
  font-size: 15px;
}

.hero-info-btn-txt {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero-info-sign-p {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* products */

.products {
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-title {
  font-size: 48px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.item-title {
  font-size: 24px;
  font-weight: bold;
}

.item-description {
  font-size: 16px;
}

.item-price {
  font-size: 24px;
}

.item-btn {
  width: 163px;
  height: 68px;
  border-radius: 8px;
  gap: 10px;
  padding: 20px 40px 20px 40px;
  border: none;
  background-color: #fed84c;
}

/* downloading */

.downloading {
  background-color: #081130;
  /* position:; */
  z-index: 90;
}

.downloading-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 300px;
  padding-bottom: 500px;
  color: white;
}

/* questions */

.questions {
  background-color: white;
  width: 100%;
  height: 100px;
}

/* slider */

.slider {
  background-color: #081130;
  width: 100%;
  height: 100px;
}

/* photos */

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos-title {
  font-size: 48px;
}

.photos-subtitle {
  font-size: 24px;
}

.photos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9px;
}

/* cta */

.cta {
  background-color: #fed84c;
}

/* footer */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #7e868e;
}

.footer-info-top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e868e;
  gap: 43px;
}

.footer-info-bottom {
  display: flex;
  color: #7e868e;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
